.search-box {
  position: relative;
  margin-left: 24px;
}

.search-box__button {
  @include reset-button;

  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;

  &:hover {
    @include transition;
    opacity: 0.7;
  }

  &:active {
    @include transition;
    opacity: 0.3;
  }
}
