.trip-menu {
  @include container;

  display: flex;
  column-gap: 21px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.trip-menu__button {
  @include reset-button;

  display: flex;
  column-gap: 11px;
  align-items: center;
  padding: 0 8px 0 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-semi-bold;
  color: $light-gray-5;

  background-color: $primary-500;
  border-radius: 4px;
}
